article{
    color: chocolate;
    font-size: 30px;    /* el font-size especifica el tamaño de fuente */
}

.parrafo{   /* con el . nos referimos al class de un elemento */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Estas son las fuentes que se usaran para este texto*/
    font-size: 40px;
    color: coral;
}

#parrafo2{  /* el # se usa para referirce al id de un elemento*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: darkslategray;
}

.main-nav {
    margin-top: 10px;
    list-style: none;   /**quita los puntos a la lista desordenada**/
    background-color: #7fa9ff;
    padding-top: 10px;
    text-align: center; /**centra el texto que en este caso es de el elemento "a" dentro de main-nav__item**/
}
.main-nav__item {
    display: inline-block;
    height: 30px;
}
.main-nav__item a {     /** la "a" hace referencia al elemento a dentro de main-nav__item para ser mas especifico**/
    color: white;
    text-decoration: none;
}


/* Pseudo clases: Define el estilo
de un estado especial de un elemento. */

.main-nav__item a:hover {   /**hover es cuando el mouse esta ensima del elemento**/
    color: blue;
}
.main-nav__item a:active {  /**active es cuando clickeas el elemento**/
    color: red;
}

/*Pseudo elementos: Define el estilo de una
parte especifica de un elemento.*/

.main-nav__item a::after {  /*  ::after es un pseudo elemento que va despes de, en este caso, el main-nav__item*/
    content: " | ";
}
