* {
    font-family: 'Roboto Mono', monospace;
}

.grid {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #333;
    padding: 20px;
    border-radius: 20px;
}

.item {
    justify-self: center;
    border-radius: 100%;
}

.title {
    color: white ;
    font-size: 3rem;
    font-weight: bolder;
    align-self: center;
    justify-self: center;
}