* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(106, 253, 253);
    height: 10vh;
}

.side {
    background-color: rgb(80, 176, 255);
    width: 100px;
    height: 85vh;
    display: inline-block;
}

.main {
    background-color: rgb(80, 98, 255);
    height: 85vh;
    display: inline-block;
    position: absolute;
    left: 100px;
    right: 0%;
}

.footer {
    background-color: rgb(170, 80, 255);
    height: 5vh;
    display: block;
    position: relative;
    bottom: 4px;
}