/* por defecto el navegador da al elemento
html y a otros ciertas propiedades, aqui modificamos
el tamaño de fuente del elemento html que al contener
a todos los elementos visibles de la pagina, hereda
a estos muchas propiedades **/

html {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-size: 1em; /** em es un multiplicador. Multiplica el tamaño de fuente por em.
                        es una propiedad que va por defecto y cada elemento puede ser diferente.
                        por ejemplo, si pones que h1 tiene una fuente de 10px y por defecto
                        tiene 2 em, el tamaño de fuente que se vera sera 20px **/
}
main {
    font-size: 10px;
}
body {
    font-size: 20px;
}
