* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(224, 224, 224);
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
}

.title {
    background-color: rgb(255, 214, 221);
    position: absolute;
    top: 30rem;
    padding: 2rem;
    border-radius: 1rem;
    border: solid rgb(224, 224, 224);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}